/* Imports */
@import 'variables';

/* Loader */

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 300px;

  svg {
    width: 50px;
    height: 50px;
    fill: $primary;
    animation-name: loader;
    animation-duration: 1s;
    animation-iteration-count: infinite;

    @keyframes loader {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}
