/* Imports */
@import './loader', './noReadLaterArticles';

/* Base styles */
.app {
  &Header {
    background-color: #f4f5f6;
    padding: 20px;
    box-shadow: 3px 0 6px 0 #c9ced5;

    &-inner {
      display: flex;
      align-items: center;
    }
  }

  &Title {
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0;
  }
}

.news {
  border: 1px solid rgba(88, 88, 88, 0.41);
  padding: 20px;
  border-radius: 6px;
  box-shadow: -1px 1px 1px 1px rgba(0, 0, 0, 0.2);

  &Actions {
    margin: 0 -10px;
    padding-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    > * {
      margin: 0 10px;
    }
  }

  &Container {
    padding-top: 80px;
  }

  &ColumnTitle {
    border-bottom: 1px solid;
    max-width: 240px;
    padding-bottom: 5px;
  }

  &List {
    list-style: none;
    margin-top: 25px;

    > li {
      margin-bottom: 25px;
    }
  }
}

.companyLogo {
  height: 40px;
  margin-right: 30px;
}

.filtersContainer {
  padding-top: 80px;
}

.readLater {
  &Item {
    &-title {
      display: initial;
    }

    section {
      margin-top: 10px;
    }
  }

  &Toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;

    position: fixed;
    left: 0;
    bottom: 0;

    background-color: #fff;
    box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.2);

    z-index: 10;

    button {
      margin: 0;
    }
  }
}

.active-page {
  max-width: 150px !important;
}

.lock-scroll {
  overflow: hidden;
}

/* Larger than mobile screen */
@media screen and (min-width: 40rem) {
  .app {
    &Title {
      font-size: 2.4rem;
    }
  }

  .news {
    max-width: 500px;
  }

  .readLater {
    &Toolbar {
      display: none;
    }
  }
}

@media screen and (max-width: 40rem) {
  #readLaterContainer {
    width: calc(100vw - 60px);
    max-width: 400px;
    height: 100vh;
    padding: 20px;
    overflow: auto;

    position: fixed;
    top: 0;
    left: 0;

    background-color: #fff;
    z-index: 12;

    transform: translate(-110%, 0);
    transition: transform 0.5s ease;

    &.active {
      transform: translate(0, 0);
    }
  }

  .backdrop {
    display: none;
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;

    opacity: 0;
    transition: opacity 0.3s ease;

    background-color: rgba(0, 0, 0, 0.2);

    z-index: 11;

    &-enter {
      display: block;
      &-active {
        display: block;
        opacity: 1;
      }
      &-done {
        display: block;
        opacity: 1;
      }
    }

    &-exit {
      display: block;
      opacity: 0;
      &-active {
        display: block;
        opacity: 0;
      }
      &-done {
        display: none;
      }
    }
  }
}
